body{ 
    background-color: #fff0f5;
}
h1{
    color: #333333;
    font-size: 80px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}
#mainTitulo{
    color: #F6A5C0;
    font-size: 80px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px; 
}
h2 {
    color: #5f5b5c;
    font-family: cursive;
    padding: 25px;
    font-size: 20px;
}
h3{
    color: #aa7486;
    font-family: initial;
    padding: 20px;
    font-size: 40px;
}
p, li{
    color: #5f5b5c;
    padding: 5px;
    font-family: unset;
    font-size: 25px;
}

#cardTitulo{
    font-size: 30px;
    color: #aa7486;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.card {
    border: 3px #8eafa5;
    background-color: white;
    padding: 250 px;
    width: 650px;
    height: 800px;
    text-align: center;
    margin: 20px;border-radius: 20px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    overflow: hidden;
}
.card:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.container-cards {
    display: flex;
}
#barraImg{
    padding: 10px;
}
#barraFont {
    font-family: cursive;
    font-size: 15px;
}
#carouselExample{
    width: 800px;
}
#ts1989{
background-color: #C5E0DC;
}
#fearless{
    background-color:#feeeb8; 
}
#evermore{
    background-color: #dbc497;
}
#folklore{
    background-color: #bdbfbf;
}
#speaknowBG{
    background-color: #dfcae1;
}
#redBG{
    background-color:#c91034;
}
#midnights{
    background-color: #6a9eda;
}
#repBG{
    background-color: #bdbfbf;
}
#redMT{
    color: white;
}
#folT, #ts1989T, #midT, #speaknowT, #everT,#loverT, #repT, #fearT {
    font-size: 50px;
}
#redT{
    font-size: 50px;
    color: rgb(238, 235, 235);
}
.centrar{
    display: flex;
    justify-content: center;
}
#lover{
    background: #fddee9;
}
#fear{
    background-color:#ffeba8
}
#ever{
    background-color: #eeddbc;
}
#rep{
    background-color:  #c9c9c9;
}
#speaknow{
    background-color:  #c9bbca;
}
#red{
background-color: #eeeeee;
}
#fol{
    background-color:  #cacccc;
}
#ts1989C{
    background-color: #d6ebe7;
}
#mid{
    background-color: #8ab3e2;

}
img {
    width: 300px;
}