body{ 
    background-color: #fff0f5;
}
h1{
    color: #333333;
    font-size: 80px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}
#mainTitulo{
    color: #F6A5C0;
    font-size: 80px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px; 
}
h2 {
    color: #5f5b5c;
    font-family: cursive;
    padding: 25px;
    font-size: 20px;
}
h3{
    color: #aa7486;
    font-family: initial;
    padding: 20px;
    font-size: 40px;
}
p, li{
    color: #5f5b5c;
    padding: 5px;
    font-family: unset;
    font-size: 25px;
}

#cardTitulo{
    font-size: 30px;
    color: #aa7486;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.card {
    border: 3px #8eafa5;
    background-color: white;
    padding: 250 px;
    width: 650px;
    height: 720px;
    text-align: center;
    margin: 20px;border-radius: 20px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    overflow: hidden;
}
.card:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}
.container-cards {
    display: flex;
}
#barraImg{
    padding: 10px;
}
#barraFont {
    font-family: cursive;
    font-size: 15px;
}
#carouselExample{
    width: 800px;
}
#ts1989{
background-color: #C5E0DC;
}
#fearless{
    background-color:#feeeb8; 
}
#evermore{
    background-color: #f9d99a;
}
#folklore{
    background-color: #bdbfbf;
}
#speaknow{
    background-color: #dfcae1;
}
#red{
    background-color:#c91034;
}
#midnights{
    background-color: #6a9eda;
}
#rep{
    background-color: #bdbfbf;
}
#red{
    color: white;
}
#redT{
    font-size: 50px;
    
}
#folT{
    font-size: 50px;
}
#ts1989T{
    font-size: 50px;
}
#midT{
    font-size: 50px;
}
#speaknowT{
    font-size: 50px;
}
#everT{
    font-size: 50px;
}
#loverT{
    font-size: 50px;
}
#repT{
    font-size: 50px;
}
#fearT{
    font-size: 50px;
}
.centrar{
    display: flex;
    justify-content: center;
}
#lover{
    background: #fddee9;
}
#fear{
    background-color:#f0dea4
}